<?xml version="1.0"?>
<configuration>
  <!--<system.diagnostics>
    <switches>
      <add name="WebSharper.Verbosity" value="Warning" />
    </switches>
    <sources>
      <source name="WebSharper" switchName="WebSharper.Verbosity" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="File" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="File" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\temp\test.log" />
    </sharedListeners>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="File" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <appSettings/>
  <connectionStrings/>
  <system.webServer>
    <modules>
      <add name="RpcModule" type="IntelliFactory.WebSharper.Web.RpcModule, IntelliFactory.WebSharper.Web"/>
    </modules>
  </system.webServer>
  <system.web>
    <httpModules>
      <add name="RpcModule" type="IntelliFactory.WebSharper.Web.RpcModule, IntelliFactory.WebSharper.Web"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="WebSharper" namespace="IntelliFactory.WebSharper.Web" assembly="IntelliFactory.WebSharper.Web"/>
        <add tagPrefix="Samples" namespace="IntelliFactory.WebSharper.Bing.Samples" assembly="IntelliFactory.WebSharper.Bing.Samples"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
        <error statusCode="403" redirect="NoAccess.htm" />
        <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
  </system.web>
</configuration>
